#container{
	border: 2px solid #433B39;
    border-radius: 50%;
    width: 355px;
}
#clock{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-color: black;
    margin: 0 auto;
	position:relative;
	transform: rotate(180deg);
	border: 3px solid #BDCBCB;
}
#center{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FF812A;
    position: absolute;
    top: 43%;
    left: 43%;
	z-index:4
}
#hour{
	width: 12px;
    height: 120px;
    background-color: white;
    position: absolute;
    z-index: 1;
    top: 44%;
    left: 47%;
    transform: rotate(0deg);
	transform-origin: 11px 22px;
	border-radius: 8px;
}
#min{
    width: 12px;
    height: 140px;    
    background-color: white;
    position: absolute;
    z-index: 2;
    top: 44%;
    left: 48%;	
	transform-origin: 11px 22px;
	border-radius: 8px;
}
#sec{
	width:2px;
	height:160px;	
	background-color: white;
	position:absolute;
	z-index:3;	
    left: 49%;
    top: 44%;
    transform-origin: 8px 30px;
}

#digital {
    color: black;
    position: absolute;
    top: 32%;
    transform: rotate(180deg);
    left: 40%;
    background-color: white;
    z-index: 5;
    padding: 2%;
    border-radius: 2px;
}